fieldset {
    border: 1px solid var(--color-gray-20);
    border-top-width: 26px;
    margin: 1ex 0 1ex 0;
}
fieldset legend {
    background: var(--color-gray-20);
    line-height: 26px;
}

html, body {
    background-color: var(--color-gray-10);
}

body {
    margin: 1em;
}

.vbox {
    display:flex;
    flex-direction: column;
}

.hbox {
    display:flex;
    flex-direction: row;
}

.center {
    align-items: center;
}

.right {
    flex-direction: row-reverse;
}

.vbox select, .hbox select {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

.spacer {
    width:10px
}

#save_area {
    margin: 1ex 0;
}
#save_area * {
    margin-right: 1ex;    
}

#accounts_list {
    margin: 1ex 1ex 1ex 0;
    border: 1px solid var(--color-gray-20);
    height: 350px;
    width: 400px;
    overflow: auto;
}

#foldersTree {
    list-style: none;
    margin: 1ex 1ex 1ex 0;
    padding: 0;
    border: 1px solid var(--color-gray-20);
    cursor: default;
    overflow: auto;
    height: 400px;
    width: 460px;
    user-select: none;
}

#foldersTree * {
    padding: 1px 3px;
}

#foldersTree li {
    border:1px solid transparent;
}

#foldersTree li[aria-selected="true"] {
    background-color: var(--color-blue-20);
    border:1px dotted var(--color-gray-20);
}


#tablist {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: default;
  }
  
  #tablist li {
    background-color: var(--color-gray-10);
    border: 1px solid var(--color-gray-20);
    border-bottom: none;
    display: inline;
    height: 1em;
    padding: 3px 10px;
    margin: 0px;

  }
  
  #tablist li:focus, 
  #tablist li:hover {
    background-color: var(--color-blue-20);
  }
  
  #tablist li[aria-selected="true"] {
    background-color: white;
  }
  
  #tabcontent {
    background-color: white;
    border: 1px solid var(--color-gray-20);
    margin: 0px;
    padding: 1em;
  }
  
  [aria-hidden="true"] {
    display: none;
  }
   
  [aria-hidden="false"] {
    display: block;
  }
